<router-outlet></router-outlet>
<mat-card>
    <mat-card-title>Donate</mat-card-title>
    <mat-card-content>
        <p>
            Any amount is appreciated, and goes a long way to supporting our efforts.
            Enter an amount and click submit to make a donation on stripe's secure serves.
        </p>
        <div>
            <div  style="color: red;" [innerHTML]="runRequestErrorMessage"></div>
            <mat-form-field>
                <mat-label>Donation amount</mat-label>
                <span matPrefix style="margin-right: 5px">$</span>
                <input matInput type="number" min="0" [formControl]="amount" >
                <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" style="margin-left: 10px"
                [disabled]="amount.invalid || loading" (click)="submit()">Submit</button>
        </div>
    </mat-card-content>
</mat-card>