<mat-toolbar *ngIf="is404 else result"><span>Error: requested category doesn't exist.</span></mat-toolbar>
<ng-template #result>
    <mat-toolbar>{{category?.title}}</mat-toolbar>
    <mat-list>
        <mat-list-item *ngFor="let category of childCategories">
            <a [routerLink]="['/category', category.id]">{{ category.title }}</a>
        </mat-list-item>
        <mat-divider *ngIf="hasArticlesAndCategories$ | async"></mat-divider>
        <mat-list-item *ngFor="let article of articles$ | async">
            <a [routerLink]="['/article', article.id]">{{article.title}}</a>
        </mat-list-item>
    </mat-list>
</ng-template>